<div class="row-header">
  <h2>Species+/CITES Checklist API</h2>
</div>

<h3 class="first">About the API</h3>
  <p>
    The Species+/CITES Checklist Application Programming Interface (API) enables institutions to request data from the CITES Checklist and Species+ for use in websites and databases irrespective of the technology they use. It may be used, for example, by CITES Authorities to update their national systems with information maintained in the CITES Checklist and Species+, thus increasing standardisation and reducing errors and duplication of effort.
  </p>
  <p>
    The API provides information on CITES taxonomy (including scientific names and synonyms) and CITES Appendix listings as per the CITES Checklist. In addition, it provides information on distribution, references, common names, CITES export quotas and trade suspensions and on EU Wildlife Trade Regulation Annex listings and EU decisions, as maintained in Species+.
  </p>
  <p>
    If you are interested in fetching data through the API to update your systems, you will need to extend your system with the capability to synchronise data updates between the API and your dataset. The frequency and nature of the updates will need to be specified as part of the integration. The technical documentation below provides details on how to make use of the Species+/CITES Checklist API. Additional details on how the Species+/CITES Checklist handles nomenclature changes are also provided below and should be considered when implementing the API.
  </p>
  <h4><%= link_to 'Read the technical documentation', '/documentation' %></h4>
  <h4><%= link_to 'Read the nomenclature overview', '/nomenclature' %></h4>

<h3 class="first">Terms of Use</h3>
  <p>Add <%= link_to 'Species+ Terms of Use', 'http://speciesplus.net/terms-of-use' %> and specific statements regarding the use of the API (tbd)</p>

<h3 class="first">Contributors</h3>
<p>
The Species+/CITES Checklist API was developed by UNEP-WCMC with financial support from the governments of Switzerland, France and Belgium. Financial support to maintain the underlying database has come from a range of sources, on a project or longer-term basis. Current funders, supporting portions of the maintenance of the underlying data include: the European Union and the CITES Secretariat.
</p>
