<div class="row-header">
  <h2>CITES Checklist and Species+ API</h2>
</div>

<h3 class="first">About the API</h3>
  <p>
The CITES Checklist  / Species+ Application programming interface (API) enables your organisation to request data from Species+ for use in websites and databases irrespective of the technology they use. The API provides CITES taxonomy information consisting of scientific names, synonyms,  distributions and references. The API also incorporates CITES appendices, quotas and suspensions as well as EU annexes, opinions and suspensions.
  </p>
  <p>
If you are interested in fetching data through the API to update your systems, you will need to extend your system with the capability to synchronise data updates between the API and your dataset. The frequency and nature of the updates must be specified as part of the integration. The technical documentation below provides details on how to make use of the CITES Checklist / Species+ API.
  </p>
<h4><%= link_to 'Read the technical documentation', '/documentation' %></h4>
  <p>
We also provide a overview of how CITES Checklist  / Species+ handles nomenclature changes and would advise reading this as part of implementing the CITES Checklist  / Species+ API.
  </p>
<h4><%= link_to 'Read the nomenclature overview', '/documentation' %></h4>



  <h3 class="first">Terms of Use</h3>
  <p>As Species+ Terms of Use plus specific statements regarding the use of the API (to be agreed.)</p>
